/* src/components/Header.css */
.logo {
  object-fit: contain;
}

.navbar-brand {
  text-align: center;
}

.nav-link {
  font-weight: 500;
}

.dropdown-menu .dropdown-item:disabled {
  cursor: default;
  color: #6c757d;
  pointer-events: none;
}
